<div ng-controller='sessionController' class='container'>
	<div class="container-fluid">
		<div ng-controller='topicController' id='main'>
			<div id="header">
				<h2><a href="#/dashboard">DiscussionBoard! <img src="../assets/images/talk.png" alt="logo.png" class='logo'></a></h2>
				<h5 class='welcome'>Welcome, <span ng-bind='currentUser.name'></span>! <a href="/logout">Logout</a></h5>
				<hr>
			</div>
			<div class="input-group">
				<input type="text" placeholder='Filter' ng-model='filter' class='form-control'>
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			</div>
			<table class='table'>
				<tr>
					<th>Topic</th>
					<th>User Name</th>
					<th>Category</th>
					<th>Posts</th>
				</tr>
				<tr ng-repeat='topic in topics | filter:filter'>
					<td><a href="" ng-bind='topic.topic' ng-click='showTopic(topic)'></a></td>
					<td> <a href="" ng-bind='topic.user' ng-click='showUser(topic)'></a></td>
					<td ng-bind='topic.category'></td>
					<td ng-bind='topic._messages.length'></td>
				</tr>
			</table>
			<hr>
			<form ng-submit='postTopic()' class='form-horizontal' id='add'>
				<h4>Add a New Topic</h4>
				<div class="form-group col-xs-12">
					Topic:
					<input type="text" ng-model="topic.topic" class='form-control'>
				</div>
				<div class="form-group col-xs-12">
					Description:
					<textarea cols='40' rows='5' ng-model='topic.description' class='form-control'></textarea><br>
				</div>
				<div class="form-group col-xs-12">
					Category:
					<select ng-model='topic.category' class='form-control'>
						<option>Web Dev</option>
						<option>Swift</option>
						<option>MEAN</option>
						<option>Angular</option>
						<option>Overwatch</option>
					</select>
				</div>
				<div class="from-group">
					<input type="submit" value="Submit" class='btn btn-primary'>
				</div>
			</form>
		</div>
	</div>
	</div>
