<div ng-controller='sessionController'>
	<p><a href="#/dashboard">Dashboard</a>  <a href="/logout">Logout</a></p>
	<div ng-controller='topicController'>
		<h3><a href="" ng-bind='display.user' ng-click='showUser(display)'></a> posted a topic:</h3>
		<h4>{{display.topic}}</h4>
		<p>{{display.description}}<p>
		<form ng-submit='postMessage(display._id , message)'>
			Post your answer here...<br>
			<textarea rows='5' cols='50' ng-model='message.message'></textarea>
			<input type="submit" value='Post'>
		</form>
		<hr>
		<div id='message' ng-repeat='message in display._messages'>
			<p>{{message.upvote}} <button ng-click='upvote(message._id, message.upvote)'>+</button> {{message.downvote}} <button ng-click='downvote(message._id, message.downvote)'>-</button>&nbsp&nbsp&nbsp<b><a href='' ng-click='showUser(message)' ng-bind='message.user'></a></b> posted: </p>
			<p>{{message.message}}</p>
			<div id='comment' ng-repeat='comment in message._comments'>
				<p><b><a href='' ng-click='showUser(comment)'ng-bind='comment.user'></a></b> posted: </p>
				<p>{{comment.comment}}</p>
			</div>
			<form ng-submit = 'postComment(message._id, comment)'>
				<textarea rows='3' cols='35' ng-model='comment.comment'></textarea>
				<input type="submit" value="comment">
			</form>
		</div>
	</div>
</div>